# /etc/systemd/system/serprolim.service

[Unit]
Description=gunicorn daemon
Requires=serprolim.socket
After=network.target


[Service]
User=root
Group=www-data
WorkingDirectory=/root/serprolim2
ExecStart=/root/serprolim2/.venv/bin/gunicorn     --access-logfile -     --workers 3     --bind unix:/run/serprolim.sock     main.wsgi:application

[Install]
WantedBy=multi-user.target
