{% load static wagtailcore_tags wagtailuserbar %}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />

        {% block meta_tag %}
        <title>
            {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            
            {% block title_suffix %}
              {% with self.get_site.site_name as site_name %}
                  {% if site_name %}- {{ site_name }}{% endif %}
              {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="{{ page.search_description }}" />
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {% if page.canonical_url %}
        <link rel="canonical" href="{{ page.canonical_url }}"/>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% block extra_css %}

        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% include "parts/header.html" with class="sticky top-0 shadow z-10 bg-primary flex justify-end md:justify-center items-center" %}

        {% block content %}
        {% endblock %}

        {% include "parts/footer.html"  %}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
              var mobileMenuButton = document.getElementById("mobileMenuButton");
              
              mobileMenuButton.onclick = function() {
                  document.getElementById("sideMenuHideOnMobile").classList.toggle("-translate-y-full");
                  document.getElementById("sideMenuHideOnMobile").classList.toggle("mt-12");
                  document.getElementById("sideMenuHideOnMobile").classList.toggle("shadow");
                  document.getElementById("mobileMenuButtonClose").classList.toggle("hidden");
                  document.getElementById("mobileMenuButtonOpen").classList.toggle("hidden");
              }
                // Hide element when click outside nav
              var theElementContainer = document.getElementsByTagName("nav")[0];
              document.addEventListener('click', function(event) {
                  if (!theElementContainer.contains(event.target)) {
                      document.getElementById("sideMenuHideOnMobile").classList.add("-translate-y-full");
                      document.getElementById("sideMenuHideOnMobile").classList.remove("mt-12");
                      document.getElementById("sideMenuHideOnMobile").classList.remove("shadow");
                      document.getElementById("mobileMenuButtonOpen").classList.remove("hidden");
                      document.getElementById("mobileMenuButtonClose").classList.add("hidden");
                  }
              });
              var sideMenu = document.getElementById("sideMenuHideOnMobile").childNodes;
              sideMenu.onclick = function() {    
                document.getElementById("sideMenuHideOnMobile").classList.add("-translate-y-full");
                document.getElementById("sideMenuHideOnMobile").classList.remove("mt-12");
                document.getElementById("sideMenuHideOnMobile").classList.remove("shadow");
                document.getElementById("mobileMenuButtonOpen").classList.remove("hidden");
                document.getElementById("mobileMenuButtonClose").classList.add("hidden");
              };
            
            });
          </script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>